:css
  .user_menu {
    display: inline;
    float: right;
    background-color: rgb(255, 164, 0);
    height: 35px;
    padding: 6px 5px 5px 0px;
    border-radius: 5px;
  }

  .user_options {
    display: inline-block;
    background-color: white;
    border: 1px solid black;
    z-index: 100001;
    text-align: left;
    white-space: nowrap;
    position: absolute;
    right: 0;
    padding: 10px;
    left: auto;
    bottom: auto;
  }

= render partial: 'shared/user_header'
